@import '~src/colors';
@import '~src/globals';

:host {
    @include section('dark');
}

.container {
    display: flex;
    font-family: 'body';
    &:hover {
        .container-item {
            width: 25%;
        }
    }
    &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        width: 33.333%;
        height: calc(100vh - #{$section_title_height} - 8vh); // subtract header height, and margins
        font-size: 20px;
        background-color: $dark_color;
        overflow: hidden;
        transition: width 0.5s ease, height 0.5s ease, background-color .5s;
        .backdrop {
            position: absolute;
            height: calc(100vh - #{$section_title_height} - 8vh);
            opacity: 0;
            transition: opacity 1s .2s;
        }
        h1 {
            text-transform: uppercase;
            text-align: center;
            z-index: 5;
        }
        h2 {
            text-align: center;
            font-size: 17px;
            z-index: 5;
        }
        &-text {
            transition: margin-bottom .5s;
            display: flex;
            justify-content: center;
            flex-direction: column;
            &-details {
                display: flex;
                justify-content: center;
                opacity: 0;
                transition: opacity 1s;
                height: 100px;
                img {
                    object-fit: contain;
                    width: 100px;
                }
                #ist_logo {
                    width: 80px;
                }
                #tekever-logo {
                    width: 140px;
                }
            }
            &-description {
                position: absolute;
                top: 50%;
                left: 10%;
                width: 80%;
                margin-top: 30px;
                text-align: center;
                opacity: 0;
                transition: opacity .2s;
            }
        }
        &:hover {
            width: 50% !important;
            .backdrop {
                opacity: .1;
            }
            .container-item-text {
                margin-bottom: 300px;
                &-details {
                    opacity: 1;
                }
                &-description {
                    opacity: 1;
                    transition: opacity .8s .3s;
                }
            }
        }
    }
}

@media screen and (max-width: 840px) {
    .container {
        flex-direction: column;
        &:hover {
            .container-item {
                width: 100vw;
                height: calc(calc(100vh - #{$section_title_height} - 8vh) / 5);
                &-text {
                    margin-bottom: -100px;
                }
            }
        }
        &-item {
            width: 100vw;
            height: calc(calc(100vh - #{$section_title_height} - 8vh) / 3);
            &-text-description {
                width: 100%;
                left: 0%;
            }
            &:hover {
                width: 100vw !important;
                height: calc(calc(100vh - #{$section_title_height} - 8vh) / 1.666) !important;
                .container-item-text {
                    margin-bottom: 200px;
                }
            }
        }
    }
}

