@import '~src/colors';
@import '~src/globals';

:host {
    @include section('dark');
}

.title {
    @include section-title();
}

.container {
    display: flex;
    font-family: 'body';
    &:hover {
        .tl-item {
            width: 25%;
        }
    }
    &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        width: 33.333%;
        height: calc(100vh - #{$section_title_height});
        font-size: 20px;
        text-transform: uppercase;
        background-color: $dark_color;
        overflow: hidden;
        transition: width 0.5s ease, background-color .5s;
        .backdrop {
            position: absolute;
            height: calc(100vh - #{$section_title_height});
            opacity: 0;
            transition: opacity 1s .2s;
        }
        h1 {
            z-index: 5;
        }
        h2 {
            text-align: center;
            font-size: 17px;
            z-index: 5;
        }
        &-text {
            transition: margin-bottom .5s;
            &-details {
                display: flex;
                justify-content: center;
                opacity: 0;
                transition: opacity 1s;
                img {
                    width: 100px;
                }
                #ist_logo {
                    width: 80px;
                }
                #tekever-logo {
                    width: 140px;
                }
            }
        }
        &:hover {
            width: 50% !important;
            background-color: $dark2_color;
            .backdrop {
                opacity: .1;
            }
            .container-item-text {
                margin-bottom: 400px;
                &-details {
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (max-width: 1080px) {
    .title {
        width: 610px;
    }
}
