@import '~src/colors';
@import '~src/globals';

:host {
	@include section('light');
}

.title {
	position: relative;
	top: 40px;
	left: 10vw;
	width: 950px;
	font-size: 80px;
	font-family: 'title';
}

@media screen and (max-width: 1080px) {
	.title {
		width: 610px;
	}
}
