@import '~src/colors';
@import '~src/globals';

:host {
	@include section('light');
}

.flex-container {
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
	width: 80%;
	font-family: 'body';
	p {
		font-size: 24px;
		padding-top: 30px;
	}
	.others {
		display: flex;
		width: 100%;
		font-size: 24px;
		.hobbies {
			width: 50%;
			position: relative;
			h2 {
				width: 100%;
			}
			.hobbies-item {
				position: absolute;
				top: 0;
				opacity: .2;
				display:none;
			}
			fa-icon {
				font-size: 5vw;
				opacity: .9;
				margin: 0;
				margin: 5vw;
			}
		}
		.languages {
			width: 50%;
		}

	}
}

@media screen and (max-width: 700px) {
	.flex-container {
		h1 {
			font-size: 5vw;
		}
	}
}
