<h1 data-aos="slide-up" class="section-title">What I've done</h1>

<div class="flex-container">
	<div data-aos="zoom-out" class="timeline">
		<div *ngFor="let exp of experiences; index as i" class="timeline-item" [attr.timeline-ref]="i" (click)="setSelected(i)" [ngClass]="backup_sel==i?'active':''" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
			<div class="timeline-item-area"></div>
			<span class="timeline-item-title">{{ exp.title }}</span>
			<span class="timeline-item-date">{{ exp.date }}</span>
		</div>
		<div *ngFor="let exp of experiences; index as i" class="timeline-description-item" timeline-ref='1' [attr.timeline-ref]="i"  [ngClass]="selected==i?'active':''">
			<h3>{{ exp.title_extended }}</h3>
			<p>{{ exp.description }}
            <br>
            <a *ngIf="exp.link" href="{{ exp.link }}">{{ exp.link }}</a>
            </p>
			<img src="{{ exp.image }}" alt="">
		</div>
	</div>
</div>
