<h1 data-aos="slide-up" class="section-title">What I've done</h1>

<div class="flex-container">
	<div data-aos="fade-in" class="timeline">
		<div class="timeline-item">
			<div class="timeline-item-area"></div>
			<span class="timeline-item-title">AtmosMarine</span>
			<span class="timeline-item-date">2021</span>
		</div>
		<div class="timeline-item">
			<div class="timeline-item-area"></div>
			<span class="timeline-item-title">CENTEC</span>
			<span class="timeline-item-date">2020</span>
		</div>
		<div class="timeline-item">
			<div class="timeline-item-area"></div>
			<span class="timeline-item-title">Metafora</span>
			<span class="timeline-item-date">2018-2019</span>
		</div>
		<div class="timeline-item">
			<div class="timeline-item-area"></div>
			<span class="timeline-item-title">Tekever</span>
			<span class="timeline-item-date">2018</span>
		</div>
		<div class="timeline-item">
			<div class="timeline-item-area"></div>
			<span class="timeline-item-title">Sonae</span>
			<span class="timeline-item-date">2014</span>
		</div>
	</div>
</div>
