@import '~src/colors';
@import '~src/globals';

:host {
	@include section('light');
}

.flex-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	position: relative;
}

$dot_size: 30px;
$item_width: 10vw;
$border_width: 3px;

.timeline {
	display: flex;
	margin-top: 250px;
	flex-direction: row-reverse;
	font-family: 'body';
	font-size: 25px;
	height: 100px;
	&-item {
		position: relative;
		width: $dot_size;
		height: $dot_size;
		border-radius: 50%;
		margin-left: #{$item_width/2};
		margin-right: #{$item_width/2};
		border: $border_width solid $dark_color;
		transition: background-color .7s, border-radius .4s, border-color .4s;
		&-title {
			position: absolute;
			top: -100px;
			left: 0;
			transform: rotateZ(-45deg);
			width: 70px;
			text-indent: -10px;
			pointer-events: none;
			transition: all .5s;
		}
		&-date {
			position: absolute;
			bottom: -50px;
			width: 120px;
			left: -#{60-$dot_size/2};
			text-align: center;
		}
		&-area {
			position: relative;
			left: calc(-#{$item_width/2} + #{$dot_size/2});
			top: -#{100-$dot_size/2};
			height: 200px;
			width: $item_width;
		}
		&::before, &::after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			width: #{$item_width/2};
			height: 4px;
			transform: translateY(-50%);
			background-color: $dark_color;
			transition: background-color .7s, border-radius .4s, border-color .4s;
		}
		&::before {
			left: calc(-#{$item_width/2} - #{$border_width});
		}
		&::after {
			left: #{$dot_size+$border_width};
		}
		&:hover {
			border-radius: 5px;
			border-color: $red_color;
			.timeline-item {
				&-title, &-date {
					font-weight: bold;
				}
			}
			&::before {
				background-color: $red_color;
			}
			&::after {
				background-color: $dark_color;
			}
			~ .timeline-item {
				&, &::before, &::after {
					background-color: $red_color;
					border-color: $red_color;
				}
			}
		}
	}
	&-description-item {
		margin-top: 120px;
		position: absolute;
		opacity: 0;
		transition: opacity .5s;
		left: 0;
		img {
			z-index: -1;
			height: 100px;
			filter: brightness(0);
			opacity: 0.3;
		}
	}
}

@for $i from 0 through 7 {
	.timeline-item[timeline-ref="#{$i}"]:hover ~ .timeline-description-item[timeline-ref="#{$i}"]  {
		opacity: 1;
	}
}

