@import '~src/colors';
@import '~src/globals';

:host {
	display: flex ;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: fixed;
	left: 0px;
	bottom: 0px;
	right: 0px;
	top: 0px;
	z-index: 100;
	font-family: 'title';
}

.back-scrim {
	position: fixed ;
	width: 100%;
	height: 100%;
	margin: auto auto auto auto ;
	background-color: rgba( 0, 0, 0, 0.85 ) ;
}

$popup_height: 80vh;
$popup_width: 80vw;

.container {
	width: $popup_width;
	height: $popup_height;
	z-index: 110;
	display: flex;
	color: $light_color;
}
