
<h1 data-aos="slide-up" class="section-title">What I can do</h1>
<div class="skills">
    <ul class="skills-list">
        <li *ngFor="let skill of skills, index as i" [attr.skill-ref]="i" data-aos="zoom-out" class="skills-item" [ngClass]="skill.ref ? 'ref':''" [routerLink]="skill.ref ? [ '/', { outlets: { view: ['project', skill.ref ] } } ] : []">
            <h2 class="skills-title">{{ skill.name }}</h2>
            <div class="skills-level" data-aos="growSkill" style="--value: {{ skill.value }}%;"></div>
        </li>
        <li *ngFor="let skill of skills, index as i" [attr.skill-ref]="i" class="skills-icon">
            <fa-icon *ngIf="skill.icon" [icon]="skill.icon"></fa-icon>
            <img *ngIf="skill.image" src="{{ skill.image }}" alt="">
        </li>
    </ul>
</div>
<div data-aos="fade-in" class="justified-container">
    <a href="https://github.com/3ximus">
        <h1 id="github-banner">click to see my projects on github <fa-icon [icon]="['fab', 'github']"></fa-icon></h1>
    </a>
</div>

