<div #backdropElement class="backdrop">
    <fa-icon [icon]="backdropIcon"></fa-icon>
</div>

<h1 data-aos="slide-up" class="section-title">What I can do</h1>
<div class="skills">
    <ul class="skills-list">
        <li *ngFor="let skill of skills" data-aos="zoom-out" class="skills-item" (mouseover)="changeIcon(skill.icon)" (mouseleave)="hideIcon()">
            <h2 class="skills-title">{{ skill.name }}</h2>
            <div class="skills-level" data-aos="growSkill" style="--value: {{ skill.value }}%;"></div>
        </li>
    </ul>
</div>
<div data-aos="fade-in" class="justified-container">
    <h1 id="github-banner">click to see related projects <fa-icon [icon]="['fab', 'github']"></fa-icon></h1>
</div>

