<h1 class="title">What I can do</h1>
<div class="skills">
    <ul class="skills-list">
        <li class="skills-item">
            <h2 class="skills-title">Angular JS</h2>
            <div class="skills-level"></div>
        </li>
        <li class="skills-item">
            <h2 class="skills-title">Python</h2>
            <div class="skills-level"></div>
        </li>
        <li class="skills-item">
            <h2 class="skills-title">Django</h2>
            <div class="skills-level"></div>
        </li>
        <li class="skills-item">
            <h2 class="skills-title">Flask</h2>
            <div class="skills-level"></div>
        </li>
        <li class="skills-item">
            <h2 class="skills-title">MongoDB</h2>
            <div class="skills-level"></div>
        </li>
        <li class="skills-item">
            <h2 class="skills-title">Docker</h2>
            <div class="skills-level"></div>
        </li>
        <li class="skills-item">
            <h2 class="skills-title">SQL</h2>
            <div class="skills-level"></div>
        </li>
        <li class="skills-item">
            <h2 class="skills-title">Git</h2>
            <div class="skills-level"></div>
        </li>
        <li class="skills-item">
            <h2 class="skills-title">Sass</h2>
            <div class="skills-level"></div>
        </li>
        <li class="skills-item">
            <h2 class="skills-title">Bash scripting</h2>
            <div class="skills-level"></div>
        </li>
        <li class="skills-item">
            <h2 class="skills-title">Java</h2>
            <div class="skills-level"></div>
        </li>
        <li class="skills-item">
            <h2 class="skills-title">C/C++</h2>
            <div class="skills-level"></div>
        </li>
        <li class="skills-item">
            <h2 class="skills-title">LaTeX</h2>
            <div class="skills-level"></div>
        </li>
    </ul>
</div>
