
<nav #home></nav>
<app-home class="page"></app-home>
<nav #skills></nav>
<app-skills class="page"></app-skills>
<nav #experience></nav>
<app-experience class="page"></app-experience>
<nav #education></nav>
<app-education class="page"></app-education>
<nav #about></nav>
<app-about class="page"></app-about>

<div class="sidebar">
	<fa-icon appColorSwitch class="sidebar-toggle-button" [class]="isSidebarOpen?'open':''" (click)="sideBarToggle()" [icon]="['fas', 'bars']"></fa-icon>
	<div class="sidebar-section index" [class]="isSidebarOpen?'open':''">
		<ul class="sidebar-list index">
			<li appColorSwitch class="sidebar-item" [class]="currentPage == 0 ? 'selected' : ''" (click)="scrollTo(home)">
				<h2 class="sidebar-item-tooltip">home</h2>
				<fa-icon [icon]="['fas', 'home']"></fa-icon>
			</li>
			<li appColorSwitch class="sidebar-item" [class]="currentPage == 1 ? 'selected' : ''" (click)="scrollTo(skills)">
				<h2 class="sidebar-item-tooltip">skills</h2>
				<fa-icon [icon]="['fas', 'tools']"></fa-icon>
			</li>
			<li appColorSwitch class="sidebar-item" [class]="currentPage == 2 ? 'selected' : ''" (click)="scrollTo(experience)">
				<h2 class="sidebar-item-tooltip">experience</h2>
				<fa-icon [icon]="['fas', 'briefcase']"></fa-icon>
			</li>
			<li appColorSwitch class="sidebar-item" [class]="currentPage == 3 ? 'selected' : ''" (click)="scrollTo(education)">
				<h2 class="sidebar-item-tooltip">education</h2>
				<fa-icon [icon]="['fas', 'graduation-cap']"></fa-icon>
			</li>
			<li appColorSwitch class="sidebar-item" [class]="currentPage == 4 ? 'selected' : ''" (click)="scrollTo(about)">
				<h2 class="sidebar-item-tooltip">about</h2>
				<fa-icon [icon]="['fas', 'user']"></fa-icon>
			</li>
		</ul>
		<h1 appColorSwitch class="sidebar-tooltip index">index</h1>
	</div>

	<div class="sidebar-section contacts" [class]="isSidebarOpen?'open':''">
		<ul class="sidebar-list contacts">
			<li appColorSwitch class="sidebar-item">
				<h2 class="sidebar-item-tooltip">email</h2>
				<fa-icon [icon]="['fas', 'envelope']"></fa-icon>
			</li>
			<li appColorSwitch class="sidebar-item" (click)="goTo('https://github.com/3ximus')">
				<h2 class="sidebar-item-tooltip">github</h2>
				<fa-icon [icon]="['fab', 'github']"></fa-icon>
			</li>
			<li appColorSwitch class="sidebar-item" (click)="goTo('https://www.linkedin.com/in/fabio-r/')">
				<h2 class="sidebar-item-tooltip">linked-in</h2>
				<fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon>
			</li>
		</ul>
		<h1 appColorSwitch class="sidebar-tooltip contacts">contacts</h1>
	</div>
</div>
<div class="sidebar-scrim" [class]="isSidebarOpen?'open':''" (click)="sideBarToggle()"></div>

<p appColorSwitch class="scroll-arrow" *ngIf="currentPage != NUMBER_OF_PAGES-1">&gt;</p>
