
<nav #home></nav>
<app-home></app-home>
<nav #skills></nav>
<app-skills></app-skills>
<nav #experience></nav>
<app-experience></app-experience>
<nav #education></nav>
<app-education></app-education>
<nav #about></nav>
<app-about></app-about>

<div class="sidebar">
	<div class="sidebar-section index">
		<ul class="sidebar-list index">
			<li #sidebarLink class="sidebar-item" [class]="(currentPage == 0 ? 'selected' : '') +' '+ (sidebarLinkController[0])" (click)="scrollTo(home)">
				<h2 class="sidebar-item-tooltip">home</h2>
				<fa-icon [icon]="['fas', 'home']"></fa-icon>
			</li>
			<li #sidebarLink class="sidebar-item" [class]="(currentPage == 1 ? 'selected' : '') +' '+ (sidebarLinkController[1])" (click)="scrollTo(skills)">
				<h2 class="sidebar-item-tooltip">skills</h2>
				<fa-icon [icon]="['fas', 'tools']"></fa-icon>
			</li>
			<li #sidebarLink class="sidebar-item" [class]="(currentPage == 2 ? 'selected' : '') +' '+ (sidebarLinkController[2])" (click)="scrollTo(experience)">
				<h2 class="sidebar-item-tooltip">experience</h2>
				<fa-icon [icon]="['fas', 'briefcase']"></fa-icon>
			</li>
			<li #sidebarLink class="sidebar-item" [class]="(currentPage == 3 ? 'selected' : '') +' '+ (sidebarLinkController[3])" (click)="scrollTo(education)">
				<h2 class="sidebar-item-tooltip">education</h2>
				<fa-icon [icon]="['fas', 'graduation-cap']"></fa-icon>
			</li>
			<li #sidebarLink class="sidebar-item" [class]="(currentPage == 4 ? 'selected' : '') +' '+ (sidebarLinkController[4])" (click)="scrollTo(about)">
				<h2 class="sidebar-item-tooltip">about</h2>
				<fa-icon [icon]="['fas', 'user']"></fa-icon>
			</li>
		</ul>
		<h1 #sidebarTooltip class="sidebar-tooltip index" [class]="sidebarTooltipController[0]">index</h1>
	</div>
	<div class="sidebar-spacer"></div>

	<div class="sidebar-section contacts">
		<ul class="sidebar-list contacts">
			<li #sidebarLink class="sidebar-item" [class]="sidebarLinkController[5]">
				<h2 class="sidebar-item-tooltip">email</h2>
				<fa-icon [icon]="['fas', 'envelope']"></fa-icon>
			</li>
			<li #sidebarLink class="sidebar-item" [class]="sidebarLinkController[6]" (click)="goTo('https://github.com/3ximus')">
				<h2 class="sidebar-item-tooltip">github</h2>
				<fa-icon [icon]="['fab', 'github']"></fa-icon>
			</li>
			<li #sidebarLink class="sidebar-item" [class]="sidebarLinkController[7]" (click)="goTo('https://www.linkedin.com/in/fabio-r/')">
				<h2 class="sidebar-item-tooltip">linked-in</h2>
				<fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon>
			</li>
		</ul>
		<h1 #sidebarTooltip class="sidebar-tooltip contacts" [class]="sidebarTooltipController[1]">contacts</h1>
	</div>
</div>

<p #scrollArrow class="scroll-arrow" [class]="arrowPageController" *ngIf="currentPage != NUMBER_OF_PAGES">&gt;</p>
