@import '~src/colors';

.sidebar {
	z-index: 10;
	position: fixed;
	top: 0;
	right: 0;
	margin-right: 30px;
	&-list.contacts {
		bottom: 0;
	}
	&-item {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: right;
		cursor: pointer;
		& fa-icon {
			font-size: 25px;
			width: 30px;
			transition: font-size .1s;
		}
		&-tooltip {
			font-family: 'body';
			margin-right: 20px;
			margin-left: 20px;
			opacity: 0;
			transition: opacity .3s;
		}
		&:hover > .sidebar-item-tooltip {
			opacity: 1;
		}

		&:hover > fa-icon {
			font-size: 30px;
		}
		&.selected {
			color: $red_color;
		}
		&.dark:not(.selected) {
			color: $light_color;
		}
	}
}

.scroll-arrow {
	position: fixed;
	bottom: 0;
	left: calc(50vw - 15px);
	margin: 0;
	width: 30px;
	height: 90px;
	transform: rotateZ(90deg);
	font-family: 'body';
	font-size: 70px;
	&.dark {
		color: $light_color;
	}
}

@media screen and (max-width: 1580px) {
	.sidebar {
		display: none;
	}
}
