@import '~src/colors';

.sidebar {
	ul {
		padding: 0;
	}
	&-section {
		position: fixed;
		right: 0;
		padding-right: 30px;
		display: flex;
		flex-direction: column;
		&.index {
			z-index: 50;
			top: 0;
		}
		&.contacts {
			z-index: 49;
			bottom: 0;
			flex-direction: column-reverse;
		}
	}
	&-item {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		cursor: pointer;
		& fa-icon {
			font-size: max(min(22px, 3vh), 19px);
			width: 30px;
			transition: font-size .1s;
		}
		&-tooltip {
			font-family: 'body';
			font-size: max(min(22px, 3vh), 19px);
			margin-right: 20px;
			margin-left: 20px;
			opacity: 0;
			transition: opacity .3s;
		}
		&:hover > .sidebar-item-tooltip {
			opacity: 1;
		}
		&:hover > fa-icon {
			font-size: 30px;
		}
		&.selected {
			color: $red_color;
		}
		&.dark:not(.selected) {
			color: $light_color;
		}
	}
	&-list:hover + .sidebar-tooltip {
		display: inherit;
	}
	&-tooltip {
		margin-right: 6px;
		font-family: 'body';
		font-size: 23px;
		writing-mode: vertical-rl;
		text-orientation: upright;
		display: none;
		&.dark {
			color: $light_color;
		}
	}

	&-toggle-button { // sidebar hide/show button
		z-index: 11;
		position: fixed;
		top: 0;
		right: 0;
		font-size: 25px;
		margin-top: 20px;
		margin-right: 35px;
		display: none;
		cursor: pointer;
		&.dark {
			color: $light_color;
		}
	}
	&-scrim {
		z-index: 45;
		position: fixed;
		width: 100vh;
		height: 100vh;
		top: 0;
		left: 0;
		display: none;
		&.open {
			display: inherit;
		}
	}
}

.scroll-arrow {
	position: fixed;
	bottom: 0;
	left: calc(50vw - 15px);
	margin: 0;
	width: 30px;
	height: 90px;
	transform: rotateZ(90deg);
	font-family: 'body';
	font-size: 70px;
	&.dark {
		color: $light_color;
	}
}

@media screen and (max-width: 1090px) {
	.sidebar {
		&-section {
			top: 70px;
			right: -300px;
			width: 240px;
			background-color: $dark_color;
			color: $light_color;
			transition: right .5s;
			&.open {
				right: 0;
			}
		}
		&-item-tooltip {
			opacity: 1;
		}
		&-tooltip {
			display: none;
		}
		&-toggle-button {
			display: inherit;
		}
	}
}

@media screen and (max-height: 780px) {
	.sidebar-tooltip {
		display: none;
	}
	.sidebar-list:hover + .sidebar-tooltip {
		display: none;
	}
}

@media screen and (max-height: 590px) {
	.sidebar-section.index {
		display: none;
	}
}
