@import '~src/colors';

@mixin section($theme) {
	display: flex;
	flex-direction: column;
	margin: 0;
	height: 100vh;
	width: 100%;
	min-height: 900px;
	@if $theme == 'dark' {
		color: $light_color;
		background-color: $dark_color;
	} @else {
		color: $dark_color;
		background-color: $light_color;
	}
}

@mixin section-title() {
	position: relative;
	top: 40px;
	left: 10vw;
	width: 950px;
	font-size: 80px;
	font-family: 'title';
}
