@import '~src/colors';

$section_title_height: 85px;

@mixin section($theme) {
	display: flex;
	flex-direction: column;
	margin: 0;
	height: 100vh;
	width: 100%;
	min-height: 900px;
	overflow: hidden;
	@if $theme == 'dark' {
		color: $light_color;
		background-color: $dark_color;
	} @else {
		color: $dark_color;
		background-color: $light_color;
	}
}

.section-title {
	margin-left: 4vw;
	margin-bottom: 4vh;
	height: $section_title_height;
	font-size: 80px;
	font-family: 'title';
	z-index: 10;
}

@media screen and (max-width: 850px) {
	.section-title {
		font-size: 12vw;
	}
}
