@import '~src/colors';

body, html {
    background-color: $light_color;
    color: $dark_color;
    margin: 0;
    width: 100%;
}

@font-face {
    font-family: 'body';
    src: url("assets/fonts/Klik-Light.otf");
}

@font-face {
    font-family: 'body2';
    src: url("assets/fonts/Praktika-Light.otf");
}

@font-face {
    font-family: 'term';
    src: url("assets/fonts/Terminess_TTF_Nerd_Font_Complete_Mono.ttf");
}

@font-face {
    font-family: 'title';
    src: url("assets/fonts/Market_Deco.ttf");
}
