@import '~src/colors';

:host {
    display: flex;
    height: 100vh;
    min-height: 900px;
    color: $light_color;
}

.title {
    position: absolute;
    top: 80px;
    left: 53vw;
    font-size: 80px;
    font-family: 'title';
}

.description {
    position: absolute;
    top: 380px;
    left: 53vw;
    line-height: 1.7;
    font-size: 55px;
    font-family: 'body';
}

.profile-picture {
    margin-left: 100px;
    max-height: 100vh;
    min-height: 900px;
    object-fit: cover;
}

.DELETEME {
    color: $red_color;
}

.block {
    position: absolute;
    top: 0;
    left: 47vw;
    height: 100vh;
    min-height: 900px;
    width: 675px;
    background-color: $dark_color;
}

@media screen and (max-width: 1080px) {
    .title {
        font-size: 65px;
    }
    .description {
        font-size: 40px;
    }
}
