@import '~src/colors';
@import '~src/globals';

:host {
	@include section('light');
}

.profile-picture {
	position: absolute;
	margin-top: 50px;
	width: 30vw;
	left: 35vw;
	object-fit: cover;
}

.content {
	z-index: 1;
	line-height: 1.5;
	.title {
		font-family: 'title';
		font-size: 80px;
	}

	.description {
		font-family: 'body';
		font-size: 55px;
	}
}


@media screen and (max-width: 1080px) {
	.title {
		font-size: 65px;
	}
	.description {
		font-size: 40px;
	}
}
